* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Krona One', sans-serif;
}

:root {
  --primary: rgba(3, 201, 169, 0.7);
  --dark: rgba(46, 49, 49, 0.6);
  --light: rgba(218, 223, 225, 0.4);
  --lightxt: rgba(218, 223, 225, 1);
}

html {
  background-image: url(neon_bg.jpg);
  background-color: var(--primary);
  background-blend-mode: luminosity;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  min-width: 100vh;
  min-height: 100vh;
  scroll-behavior: smooth;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

/* Nav */
nav {
  justify-content: space-around;
  min-width: 100vh;
}

a {
  color: var(--lightxt);
  text-decoration: none;
  text-decoration-style: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  opacity: 0;
}

li {
  color: var(--lightxt);
  list-style-type: none;
  justify-content: center;
  padding: 1rem 1rem;
  transition: all 1.5s ease;
  opacity: 0;
  transition: all 1.5s ease;
}

h2 {
  font-size: 1, 5rem;
}

p {
  font-size: 1.2rem;
}

p, h2 {
  text-overflow: none;
  color: var(--lightxt);
  padding: 1rem 20vh;
  justify-content: space-around;
  align-items: center;
}

.services {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

.aboutbox {
  background-color: var(--dark);
}

.contact {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--dark);
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.navlist {
  justify-content: center;
  text-align: center;
}

.topnav {
  background-color: var(--dark);
  margin-top: 5vh;
  transition: all 2s ease-out;
  min-width: 100vh;
  position: relative;
  padding: 1rem;
}

/* Logo */
.logo {
  padding: 2rem 1rem;
  transition: all 0.6s ease-out;
  border-radius: 15vh;
}

#logo {
  height: auto;
  max-width: 18vh;
  transition: all 1.5s ease-out;
}

.servicebox {
  background-color: var(--dark);
}

/* Hover */
.topnav:hover {
  background-color: var(--dark);
  transition: all 1.5s ease;
}

.topnav:hover a {
  opacity: 1;
}

.topnav:hover li {
  transition: all 1.5s ease;
  opacity: 1;
}

.topnav:hover #logo {
  background-color: rgba(3, 201, 169, 1);
  border-radius: 15vh;
  transition: all 0.6s ease-out;
}

a:hover {
  background-color: var(--light);
  transition: all 0.6s ease-out;
  border-radius: 15vh;
}

footer {
  background-color: var(--dark);
  color: var(--lightxt);
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  max-height: 3vh;
}

footer p {
  justify-content: center;
  text-align: center;

  /* Social */
  .social {
    color: #fff;
  }