* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: rgba(3, 201, 169, 0.7);
  --background: rgba(3, 201, 169, 0.4);
  --dark: rgba(46, 49, 49, 0.6);
  --light: rgba(218, 223, 225, 0.4);
  --lightxt: rgba(218, 223, 225, 1);
}

html {
  background-image: url(neon_bg.jpg);
  background-color: var(--background);
  background-blend-mode: luminosity;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  min-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
  z-index: 0;
}

/* Nav */
nav {
  justify-content: space-around;
  min-width: 100vw;
}

.navlist a {
  color: var(--lightxt);
  text-decoration: none;
  text-decoration-style: none;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
}

.navlist li {
  color: var(--lightxt);
  list-style-type: none;
  justify-content: center;
  padding: 1rem 1rem;
  transition: all 1.2s ease;
  opacity: 0;
  transition: all 1.2s ease;
}

.navlist {
  justify-content: center;
  text-align: center;
}

.topnav {
  margin-top: 28vh;
  transition: all 1.5s ease;
  min-width: 100vw;
  position: relative;
}

/* Media List */
.media ul {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 6fr;
  justify-content: center;
  align-items: stretch;
  max-width: 100vw;
  margin-left: 3rem;
  margin-right: 3rem;
  transition: all 1.2s ease;
}

.media h3 {
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  color: var(--lightxt);
  opacity: 0;
}

.media h2 {
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  color: var(--lightxt);
  opacity: 0;
}

.media a {
  color: var(--dark);
  text-decoration: none;
  text-decoration-style: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}

.media-list li {
  justify-content: center;
  text-align: center;
  display: inline-block;
  align-items: center;
  margin: 3rem 1rem;
  padding: auto;
}

/* Logo */
.logo {
  padding: 2rem 1rem;
  transition: all 0.6s ease-out;
  border-radius: 15vh;
}

#logo {
  width: auto;
  transition: all 1.5s ease-out;
  background-color: var(--dark);
  border-radius: 15vh;
}

/* Hover */
.media ul:hover {
  background-color: var(--light);
  transition: all 1.2s ease;
  border-radius: 23vw;
  margin-left: 23vw;
  margin-right: 23vw;
}

.topnav:hover {
  background-color: var(--dark);
  transition: all 1.5s ease;
}

.topnav:hover li {
  transition: all 1.5s ease;
  opacity: 1;
}

.topnav:hover #logo {
  background-color: var(--primary);
  background-image: linear-gradient(to right, var(--light), var(--primary));
  border-radius: 15vh;
  transition: all 0.6s ease-out;
}

.media-list a:hover {
  color: var(--primary);
  transition: all 0.6s ease-out;
}

.navlist a:hover {
  background-color: var(--primary);
  transition: all 0.6s ease-out;
  border-radius: 15vh;
}

footer {
  background-color: var(--dark);
  color: var(--lightxt);
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  max-height: 3vh;
}

footer p {
  justify-content: center;
  text-align: center;